:root{
    --base_color: #2a493e;
    --firts_step_color: #427f6a;
    --second_step_color: #53a098;
    --third_step_color: #60bbc8;
    --fouth_step_color: #77d3eb;
    --fifth_step_color: #a9dad9;

}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

/* Web page Grid general template*/
body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template: 
    "header_grid    header_grid" 15vh
    "nav_grid       nav_grid" 8vh
    "main_grid      aside_grid"
    "footer_grid    footer_grid" 10vh/
    minmax(80vw, 100vw) 200px;
}

.header_grid{
    grid-area:header_grid;
    background-color: var(--base_color);
}

.nav_grid{
    grid-area: nav_grid;
    background-color: var(--firts_step_color);
}

.main_grid{
    grid-area:main_grid;
    background-color: var(--second_step_color);
 
}

.aside_grid{
    grid-area: aside_grid;
    background-color: var(--third_step_color);
}

.footer_grid{
    grid-area: footer_grid;
    background-color: var(--firts_step_color);
}

/* Header settings */
.header_container{
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 1em;
}

.header_grid img{
    height: 100px;
}

.header_text{
    padding-left: 0.5em;
    font-size:55px;
    letter-spacing: 0.1em;
    color:var(--second_step_color);
}

/* Nav settings */

.nav_menu{
    display: flex;
    justify-content: space-evenly;
}

.nav_menu li{
    padding: 1em;
}

.nav_menu a{
    text-transform: capitalize;
    color:var(--fouth_step_color);
}

/* Aside settings*/

.article_aside_container{
    display: flex;
    flex-direction: column;
    align-items:center; 
    padding:0.5em;
}

.article_aside_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 2px 4px black;
    margin: 0.4em;
    background-color: var(--second_step_color);
}
.article_aside_cards h3{
    margin:0.5em;
    color:#2a493e;
    text-align: center;
}
.article_aside_cards img{
    width: 90%;
    padding-bottom: 4px;
    
}


/* Footer settings*/

.footer_nav_menu{
    display: flex;
    justify-content: center;
}

.footer_nav_menu li{
    padding: 0.3em;

}
.footer_nav_menu img{
    height: 30px;
}

.footer_nav_menu img:hover{
    transform: scale(1.3);
}

.footer_grid p{
    font-size: 12px;
    text-align: center;
}